@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* CSS */
*,
*::before,
*::after{
    box-sizing: border-box;
}
            
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
            
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Custom scroll bar design */
::-webkit-scrollbar{
    width: .5rem;
}
            
::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}
            
::-webkit-scrollbar-thumb{
    background: rgb(151, 151, 151);
}
            
::-webkit-scrollbar-thumb:hover{
    background: var(--clr-dark);
}

.swal2-shown{
    padding: 0!important;
}
            
:root{
    --clr-dark: hsl(210, 29%, 16%);
    --clr-white: hsl(192, 15%, 99%);
    --clr-lightblue: hsl(204, 70%, 53%);
    --clr-deepblue: hsl(261, 100%, 16%);
            
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
            
    --fs-reg: 1rem;
    --fs-large: 1.5rem;
    --fs-xl: 2rem;
    --fs-sxl: 3rem;
            
    --box-shadow: rgba(61, 60, 60, 0.331)0 2px 4px;
            
    --border-radius-xsml: .2rem;
    --border-radius-sml: .5rem;
    --border-radius: 1.5rem;
}

/* Loader */
.loader{
    max-height: auto;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img{
    max-width: 100%;
}

/* Pseudo hr */
.hr-divider:empty{ 
    margin: 1rem 0;
    height: .2rem;
    width: 100%;
    background: none;
    border-bottom: 1px solid var(--clr-dark);
}

p{
    font-weight: var(--fw-400);
    line-height: 150%;
    letter-spacing: 0.025em;
}

a{
    text-decoration: none;
}

/* Container wrapper */
main{
    height: 50dvh;
    background: linear-gradient(to left,
    rgba(42, 43, 43, 0.589) 0%,
    rgb(42, 43, 43, 0.589) 100%), 
    url("../assets/images/fea-landing-page.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & h1{
        margin-top: 2rem;
        color: var(--clr-white);
        font-size: var(--fs-sxl);
    }
}

section{
    padding: 2rem;
    background-image: linear-gradient(280deg, rgba(244, 212, 249, 0.307), 
    rgba(199, 222, 252, 0.307), 
    var(--clr-white), 
    var(--clr-white), 
    rgba(231, 254, 251, 0.652), 
    var(--clr-white))!important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.section__table--wrapper{
    padding: 2rem;
}


.section__top-bar-chart--wrapper,
.section__bar-chart--wrapper{
    border: 1px solid var(--border-clr);
    background-color: var(--clr-white);
    border-radius: var(--border-radius-xsml);
    padding: 1rem;
    border-left: 4px solid var(--clr-lightblue);

    & h2{
        font-weight: var(--fw-700);
        font-size: 1.225rem;
        margin-bottom: 1rem;
        color: var(--clr-dark);
    }
}

table{
    width: 100%;
    --tbl-clr: hsl(0, 0%, 95%);
    background-color: var(--tbl-clr);
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--border-clr);

    & caption{
        font-weight: var(--fw-700);
        text-align: left;
        margin-bottom: 1rem;
        font-size: 1.225rem;
    }
}

th{
    background-color: var(--clr-lightblue);
    color: var(--clr-white);
}

th, td, tr{
    text-align: left;
    padding: 1rem;
    width: 20vw;
}

tr:nth-of-type(2n){
    --tr-clr: hsl(189, 5%, 98%);
    background-color: var(--tr-clr);
}

.restrict-query-links{
    display: block!important;
}

@media (max-width: 990px){
    section{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }

    canvas{
        width: 100%!important;
    }
}